html {
    height: 100vh;
}

body {
    height: 100%;
}

body {
    margin: 0;
    background: #FC354C; 
    background: -webkit-linear-gradient(to top, #0ABFBC, #FC354C); 
    background: linear-gradient(to top, #0ABFBC, #FC354C); 
}

body,
.container {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
}

.container > * {
    animation: float 1.5s ease-in-out infinite alternate;                    
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(30px);
    }
}